/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind utilities;

@import "tailwindcss";

/* Load custom font */
/* @font-face {
  font-family: "Tobias";
  src: url("/fonts/Tobias-Regular.woff2") format("woff2"),
       url("/fonts/Tobias-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

/* Override Tailwind font-sans */
@theme {
  /* --font-sans: Tobias, "Times New Roman", sans-serif; */
  --font-mono: Inter, sans-serif;
  /* --font-cinzel: Cinzel Decorative, serif;
  --font-Mont: Montserrat, serif; */
}

/* Shimmer Effect */
.shimmer-bg {
  background: linear-gradient(
    to right,
    #e0e0e0 8%,
    #f0f0f0 18%,
    #e0e0e0 33%
  );
  background-size: 800px 104px;
  animation: shimmer 1.4s infinite linear;
  background-repeat: no-repeat;
}

@keyframes shimmer {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}
